<div class="container">

    <div class="containerbutton">
        <div class="card text-center">
            <div class="card-header">
               Choix du type de simulation
            </div>
            <div class="card-body">

                    <!-- <div class="col-md-3">col-md-4 col-sm-8
                      <button class="btn btn-primary" (click)="redirectSimulateurAction()">Simuler sur les actions</button>
                    </div> -->
                    <div class="row tbt positionrow" padding>
                        <button class="btn btn-primary" (click)="redirectSimulateurPlacement()">Simuler Placement</button>
                    </div>
                    <div class="row"></div>
                    <div class="row tbt positionrow">
                        <button class="btn btn-primary" (click)="redirectSimulateurEpargne()">Simuler Epargne Diaspora</button>
                   </div>
                   <div class="row"></div>

                    <div class="row tbt positionrow">
                          <button class="btn btn-primary" (click)="redirectSimulateurFcp()">Simuler fcp</button>
                    </div>
            </div>

            <div class="card-footer text-muted">
               <a href="https://cgfbourse.com" target="_blanck">cgf bourse</a>
            </div>
          </div>

    </div>
  </div>
