<div class="container positionContainer" >
    <div class="row">
        <div class="col-sm-6">
          <div class="card " >
            <div class="card-body taillDiv1">
                <form>
                    <div class="form-group col-md-4">
                      <label for="inputState">Choix du produit</label>
                      <select id="inputState" class="form-control" [(ngModel)]="typePlacement.typePlacement" name="typePlacement" (change)="onChangePlacement($event.target.value)">
                      <option value="quietude" [selected]="!iscombinaison">Quietude</option>
                        <option value="optimum">Optimum</option>
                        <option value="cumule">Combinaison</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Maturite du placement ( en nombre de mois)</label>
                        <input class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="nombreDeMoi" name="nombreDeMoi" >
                      </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Versement Unique (fcfa)</label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" [(ngModel)]="montantUnique" name="montantUnique">
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Versement mensuel (fcfa)</label>
                      <input  type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" [(ngModel)]="montantPlacement" name="montantPlacement">
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Objectif de rendement annuel (%)</label>
                        <input type="number" id="disabledTextInput" class="form-control"  [(ngModel)]="typePlacement.pourcentageRendement" name="pourcentageRendement"  >
                      </div>

                  </form>
            </div>
            <div class="card-footer text-center foot" >
              <Button class="btn btn-primary" (click)="!iscombinaison ? calculMontantComBinaisonPlacement():calculMontant()" >Simuler</Button>
            </div>
          </div>
        </div>
        <div class="col-sm-6" [hidden]="!iscombinaison">
          <div class="card ">
            <div class="card-body taillDiv1">
                <form>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Montant total versé (fcfa)</label>
                        <input class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="montantTotalPlacement" name="montantTotalPlacement" disabled>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Montant espéré  a écheance (fcfa)</label>
                      <input class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" [(ngModel)]="montantEspere" name="montantEspere" disabled>
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Gain espéré  a écheance (fcfa)</label>
                        <input type="number" id="disabledTextInput" class="form-control" [(ngModel)]="gainEspere" name="gainEspere" disabled >
                     </div>
                     <div class="form-group">
                      <label for="disabledTextInput">Rendement de l'investissement (%)</label>
                      <input type="number" id="disabledTextInput" class="form-control" [(ngModel)]="rendemantObtenue1 " name="rendemantObtenue1" disabled >

                   </div>


                  </form>
            </div>
            <div class="card-footer text-center foot">
              <!-- <button class="btn btn-primary" (click)="clean()">clean</button> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6 md-4" [hidden]="iscombinaison">
          <div class="card">
            <div class="card-body taillDiv1" >
                <form>
                    <div class="form-group col-md-4">
                      <label for="inputState">Choix produit</label>
                      <select id="inputState" class="form-control" disabled>

                        <option value="optimum" selected> Optimum</option>

                      </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Maturite du placement ( en nombre de mois)</label>
                        <input class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="maturiteOpti" name="maturiteOpti">
                      </div>
                      <div class="form-group">
                        <label for="formGroupExampleInput">Versement Unique (fcfa)</label>
                        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" [(ngModel)]="montantUniqueOpti" name="montantUniqueOpti">
                      </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Versement mensuel (fcfa)</label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" [(ngModel)]="montantPlacementOpti" name="montantPlacementOpti">
                    </div>
                    <div class="form-group">
                        <label for="disabledTextInput">Objectif de rendement annuel (%)</label>
                        <input type="number" id="disabledTextInput" class="form-control"  [(ngModel)]="pourcentageRendementOptimum" name="pourcentageRendementOptimum"  >

                      </div>

                  </form>
            </div>
            <div class="card-footer text-center foot">
                <!-- <button class="btn btn-primary" width="100px" (click)="clean()">clean</button> -->
              </div>
          </div>
        </div>
    </div>

    <div class="row" style="margin-top:25px; " [hidden]="iscombinaison">
      <div class="col-md-12">

              <div class="card">
                <div class="card-body">

                    <table class="table table-hover" id="dev-table">
                        <thead>
                          <tr>

                            <th>Montant total versé (fcfa)</th>
                            <th>Montant espéré  a écheance (fcfa)</th>
                            <th>Gain espéré  a écheance (fcfa)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>

                            <td>{{montantTotalPlacement }}</td>
                            <td>{{montantCombinaisonEspere}}</td>
                            <td>{{gainEspere}}</td>
                          </tr>


                        </tbody>
                      </table>
                    <!-- <canvas baseChart
                      [data]="pieChartData"
                      [labels]="pieChartLabels"
                      [chartType]="pieChartType"
                      [options]="pieChartOptions"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                    </canvas> -->

              </div>
            </div>
      </div>
    </div>
</div>


