<div class="container positionContainer" >
  <div class="row">
      <div class="col-sm-6">
        <div class="card ">
          <div class="card-body taillediv" >
              <form>
                  <div class="form-group col-md-12">
                    <label for="inputState">Type de placement</label>
                    <select id="inputState" class="form-control" [(ngModel)]="hypothese" name="hypothese" (change)="onChangeHypothese($event.target.value)">
                      <option value="h1" selected>LE CLIENT FIXE SA COTISATION</option>
                      <option value="h2">LE CLIENT FIXE LE MONTANT A ECHEANCE VOULU</option>
                      <option value="h3">LE CLIENT FIXE  LE MONTANT A ECHEANCE VOULU ET VERSE UNE SOMME</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Maturite de l'epargne (en nombre de mois)</label>
                        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="maturite" name="maturite">
                    </div>
                    <div class="form-group" [hidden]="isVEinput">
                      <label for="formGroupExampleInput">Montant espéré  a écheance (fcfa)</label>
                      <input class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="valeurEcheanceVoulue" name="valeurEcheanceVoulue">
                   </div>
                    <div class="form-group" [hidden]="isHypothese3">
                      <label for="formGroupExampleInput">Montant initial a investir (fcfa)</label>
                      <input  type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" [(ngModel)]="cotisationUnique"  name="cotisationUnique">


                    </div>
                    <div class="form-group" [hidden]="isCMInput">
                      <label for="formGroupExampleInput">Versement Unique (fcfa)</label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser"  [(ngModel)]="cotisationUnique"  name="cotisationUnique">

                    </div>
                    <div class="form-group" [hidden]="isCMInput">
                      <label for="formGroupExampleInput">Versement mensuel (fcfa)</label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser"  [(ngModel)]="cotisationMensuel"  name="cotisationMensuel">

                    </div>
                    <div class="form-group">
                      <label for="disabledTextInput">Taux Annuel en %</label>
                      <input type="number" id="disabledTextInput" class="form-control"  [(ngModel)]="tauxAnnuel" name="tauxAnnuel"  >
                    </div>

                    <div class="form-group">
                      <label for="disabledTextInput">Taux Mensuel en %</label>
                      <input type="number" id="disabledTextInput" class="form-control"  [(ngModel)]="tauxMensuel" name="tauxMensuel"  >
                    </div>

                </form>


          </div>
          <div class="card-footer text-center">
            <Button class="btn btn-primary" (click)="!isCMInput ? calculMontantEcheanceParMois():calculMontantAInvestirParMois()">Simuler</Button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card ">
          <div class="card-body taillediv">
              <form>
                <div class="form-group" [hidden]="isCMOutPut">
                  <label for="formGroupExampleInput">Versement mensuel (fcfa)</label>
                  <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser"  [(ngModel)]="cotisationMensuel"  name="cotisationMensuel" disabled>


                </div>

                <div class="form-group" [hidden]="isCMOutPut">
                  <label for="formGroupExampleInput">Versement Unique (fcfa)</label>
                  <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner le montant a verser" disabled [(ngModel)]="cotisationUnique"  name="cotisationUnique">

                </div>
                  <div class="form-group" [hidden]="!isCMOutPut">
                      <label for="formGroupExampleInput">Montant total versé (fcfa)</label>
                      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="valeurCotisationEcheance" name="valeurCotisationEcheance" disabled>
                  </div>

                  <div class="form-group" [hidden]="isVEOutput">
                    <label for="formGroupExampleInput">Montant espéré  a écheance (fcfa)</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Donner la maturite du placement" [(ngModel)]="valeurEcheanceVoulue" name="valeurEcheanceVoulue" [disabled]="ish1" >
                 </div>

                 <div class="form-group" [hidden]="isVEOutput">
                  <label for="disabledTextInput">Gain espéré  a écheance (fcfa)</label>
                  <input type="number" id="disabledTextInput" class="form-control" [(ngModel)]="gainEspere" name="gainEspere" disabled >
               </div>
               <div class="form-group" [hidden]="isVEOutput">
                <label for="disabledTextInput">Rendement de l'investissement (%)</label>
                <input type="number" id="disabledTextInput" class="form-control" [(ngModel)]="rendemantObtenue1 " name="rendemantObtenue1" disabled >

             </div>

              </form>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary" width="100px" (click)="clean()">clean</button>
          </div>
        </div>
      </div>
  </div>

</div>


