/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.taillediv {
  height: 520px !important;
}
.taillDiv1 {
  height: 450px !important;
}

.positionContainer {
  margin-top: 5%;
}
.btn {
  width: 200px !important;
}
.foot {
  height: 60px !important;
}

@media(max-width: 767px){
 .containerbutton{
   margin-right: 30px;
   margin-top: 300px;
 }
 .tbt {
   margin-top: 5px;
 }

}
/* Entrez ici vos propriÃ©tÃ©s CSS lorsque l'utilisateur est sur tablette */
@media(min-width: 768px) and (max-width: 1388px)
{
  .containerbutton{
    margin-right: 30px;
    margin-top: 300px;
  }
  .tbt {
    margin-top: 5px;
  }
  .taillediv2 {
    height: 100% !important;
  }
}

