/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
}

.taillediv {
  height: 520px !important;
}
.taillDiv1 {
  height: 355px !important;
}

.positionContainer {
  margin-top: 10%;
}
